extrema.ppl
n_disconts*.dat
disconts*.dat
concat-*.dat
AB-*.dat
cuf*.dat
cuf*.tex
totalcuf*.dat
totalcuf*.tex
cycles-*.dat
extrema-*.dat
fen-*.dat
derivative_of_tran.dat
input*.txt
*.pdf
n_scls.dat
table-cuf-*.tex
table-cufen-*.tex
table*.aux
table*.log
